<h2>{{heading}}</h2>
{% for item in data %}
    <article>
        <img src="{{item.urlToImage}}" alt="Article Image">
        <h2>{{ item.title }}</h2>
        <p>{{item.description}}<a href="{{item.url}}" target="_blank"> Read More...</a></p>
    </article>
{% endfor %}